WFC-Library/ScrambleWCFServiceLib/Client/Service References/ScrambleService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Scramble" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/ScrambleWCFServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScramble_ScrambledWord_InputMessage">
    <wsdl:part name="parameters" element="tns:ScrambledWord" />
  </wsdl:message>
  <wsdl:message name="IScramble_ScrambledWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScrambledWordResponse" />
  </wsdl:message>
  <wsdl:message name="IScramble_WasCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:WasCorrect" />
  </wsdl:message>
  <wsdl:message name="IScramble_WasCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:WasCorrectResponse" />
  </wsdl:message>
  <wsdl:portType name="IScramble">
    <wsdl:operation name="ScrambledWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IScramble/ScrambledWord" message="tns:IScramble_ScrambledWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScramble/ScrambledWordResponse" message="tns:IScramble_ScrambledWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WasCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/IScramble/WasCorrect" message="tns:IScramble_WasCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScramble/WasCorrectResponse" message="tns:IScramble_WasCorrect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScramble" type="tns:IScramble">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScrambledWord">
      <soap:operation soapAction="http://tempuri.org/IScramble/ScrambledWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WasCorrect">
      <soap:operation soapAction="http://tempuri.org/IScramble/WasCorrect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Scramble">
    <wsdl:port name="BasicHttpBinding_IScramble" binding="tns:BasicHttpBinding_IScramble">
      <soap:address location="http://aatlantis/ScrambleWCFServiceLib.Scramble.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>